@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 224 71% 4%;

    --card: 220 13% 91%;
    --card-foreground: 224 71% 4%;

    --popover: 210 40% 98%;
    --popover-foreground: 224 71% 4%;
    
    --primary: 142 76% 36%;
    --primary-foreground: 355 100% 97%;

    --secondary: 220 14% 96%;
    --secondary-foreground: 224 71% 4%;

    --muted: 220 9% 46%;
    --muted-foreground: 220 14% 96%;

    --accent: 142 71% 45%;
    --accent-foreground: 355 100% 97%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 142 76% 36%;

    --radius: 1rem;

    /* Dark Sidebar Theme */
    --sidebar-background: 220 23% 11%;
    --sidebar-foreground: 225 21% 92%;
    --sidebar-primary: 42 97% 75%;
    --sidebar-primary-foreground: 222 47% 10%;
    --sidebar-accent: 222 47% 15%;
    --sidebar-accent-foreground: 225 21% 92%;
    --sidebar-border: 220 23% 18%;
    --sidebar-ring: 208 100% 72%;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 210 40% 98%;
    
    --card: 224 71% 4%;
    --card-foreground: 210 40% 98%;
    
    --popover: 224 71% 4%;
    --popover-foreground: 210 40% 98%;
    
    --primary: 142 76% 36%;
    --primary-foreground: 355 100% 97%;
    
    --secondary: 215 28% 17%;
    --secondary-foreground: 210 40% 98%;
    
    --muted: 215 28% 17%;
    --muted-foreground: 218 11% 65%;
    
    --accent: 142 71% 45%;
    --accent-foreground: 355 100% 97%;
    
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    
    --border: 215 28% 17%;
    --input: 215 28% 17%;
    --ring: 142 76% 36%;
    
    --radius: 1rem;
    
    /* Dark Sidebar Theme */
    --sidebar-background: 220 23% 11%;
    --sidebar-foreground: 225 21% 92%;
    --sidebar-primary: 42 97% 75%;
    --sidebar-primary-foreground: 222 47% 10%;
    --sidebar-accent: 222 47% 15%;
    --sidebar-accent-foreground: 225 21% 92%;
    --sidebar-border: 220 23% 18%;
    --sidebar-ring: 208 100% 72%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}